* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.rounded-full {
  border-radius: 999999px;
}
.ab-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rosybrown;
  background-image: linear-gradient(to right top, #ffecd2 0%, #fcb69f 100%);
}

.clock {
  --cl-h: 300px;
  --cl-pad: 25px;
  --cl-bg: #eee;

  width: var(--cl-h);
  height: var(--cl-h);
  position: relative;
  background-color: var(--cl-bg);
  border: 10px solid #282828;
}
.clock-bg {
  width: calc(100% - var(--cl-pad) * 4);
  height: calc(100% - var(--cl-pad) * 4);
  background-color: var(--cl-bg);
}
.dot {
  width: 15px;
  height: 15px;

  background-color: tomato;
  border-radius: 100px;
}
.lines {
  width: 8px;
  height: calc(100% - var(--cl-pad) * 2);
  position: absolute;
  left: calc(50% - 5px);
  top: var(--cl-pad);

  background-color: black;
  border-radius: 3px;
}
.lines.b {
  transform: rotate(calc(30 * 1deg)) ;
}
.lines.c {
  transform: rotate(calc(30 * 2deg)) ;
}
.lines.d {
  transform: rotate(calc(30 * 3deg)) ;
}
.lines.e {
  transform: rotate(calc(30 * 4deg)) ;
}
.lines.f {
  transform: rotate(calc(30 * 5deg)) ;
}

.hand {
  width: var(--width);
  border-radius: var(--width);
  position: absolute;
  left: calc(50% - var(--width) / 2);
  bottom: 50%;
  transform-origin: bottom;
}
.second {
  --width: 3px;
  background-color: tomato;
  height: calc(var(--cl-h) / 2 - var(--cl-pad));

  transform: rotate(calc(6deg * 30)) translateY(20px);
}
.minute {
  --width: 8px;
  border: tomato solid 1.5px;
  background-color: lightgray;
  height: calc(var(--cl-h) / 2 - ( var(--cl-pad) + 20px ));

  transform: rotate(calc(6deg * 15));
}
.hour {
  --width: 12px;
  border: tomato solid 1.5px;
  background-color: lightgray;
  height: calc(var(--cl-h) / 2 - ( var(--cl-pad) * 3 ));

  transform: rotate(calc(6deg * 5));
}

.time {
 top: 65%;
}

